
currentDir = System.getProperty("user.dir");
params {
  inputDir = null
  params.snpSift = currentDir + '/tools/snpEff/SnpSift.jar'
  params.installtools = currentDir + '/tools/install_tools.sh'
}

manifest {
  homePage = 'http://mondepotducode'
  description = 'Tutorial Nextflow'
  mainScript = 'myscript name'
  version = 'v1.0.0'
  author = 'Superman'
}

profiles {
  standard {
    process.executor = 'local'
  }

  cluster {
    process.executor = 'slurm'
  }

  docker {
    docker.enabled = true
    fixOwnership = true
    // includeConfig 'conf/docker.config'
  }

  singularity {
    singularity.enabled = true
    // includeConfig 'conf/singularity.config'
  }

}

// println(profile)

process {
  withName: splitVCF {
      cpus = 1
      memory = '1 GB'
      time = '1h'
      container = null
  }

  withName: annotateVCF {
      cpus = 1
      memory = '1 GB'
      time = '1h'
      container = {workflow.containerEngine == 'docker' ? 'ensemblorg/ensembl-vep' : null}
      containerOptions = '-u $(id -u):$(id -g) -v /etc/hostname:/etc/hostname'
  }

  withName: mergeVCF {
      cpus = 1
      memory = '1 GB'
      time = '1h'
      container = null
  }

  withName: collectLogs {
      cpus = 1
      memory = '1 GB'
      time = '1h'
      container = null
  }

  withLabel: lots_of_memory {
      cpus = 1
      memory = '10 GB'
  }
}

// mailing configuration
mail {
    smtp.host = 'smtp.domain.fr'
    smtp.port = 25
    from = "server@domain.fr"
}


workDir = './work'